
@{
    ViewData["Title"] = "Admin";
    ViewData["locationOne"] = "Admin";
    ViewData["locationTwo"] = "Anasayfa";
    ViewData["locationThre"] = "içerik";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

        <div class="container-fluid">
            <div class="row">
                <h1>Ana içerik buraya </h1>
                <br />
                <h1 style="color:red;">Admin Indeex </h1> 
                   
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    

