@model SurucuKursu.Models.Yorumlar

@{
    ViewData["Title"] = "Yorumlar";
    ViewData["locationOne"] = "Admin";
    ViewData["locationTwo"] = "Yorumlar";
    ViewData["locationThre"] = "Oluştur";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create</h1>

<h4>Yorumlar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ad" class="control-label"></label>
                <input asp-for="Ad" class="form-control" />
                <span asp-validation-for="Ad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mail" class="control-label"></label>
                <input asp-for="Mail" class="form-control" />
                <span asp-validation-for="Mail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Metin" class="control-label"></label>
                <input asp-for="Metin" class="form-control" />
                <span asp-validation-for="Metin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsPosted" class="control-label" style="text-align:center;">Anasayfa da görünsün mü?</label>
                <input asp-for="IsPosted" type="checkbox" style="height:30px; width:30px; margin:15px 0px 0px 20px;" />
                <span asp-validation-for="IsPosted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Yildiz" class="control-label"></label>
                <input asp-for="Yildiz" class="form-control" />
                <span asp-validation-for="Yildiz" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

