@model SurucuKursu.Models.Araclar

@{
	ViewData["Title"] = "Edit";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit</h1>

<h4>Araclar</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Edit" enctype="multipart/form-data">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id" />
			<div class="form-group">
				<label asp-for="Adı" class="control-label"></label>
				<input asp-for="Adı" class="form-control" />
				<span asp-validation-for="Adı" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Plaka" class="control-label"></label>
				<input asp-for="Plaka" class="form-control" />
				<span asp-validation-for="Plaka" class="text-danger"></span>
			</div>
			<div>
			</div>
			<div class="form-group">
				<label asp-for="ImageFile" class="control-label"></label>
				<input asp-for="ImageFile" placeholder="Yeni Resim Ekle" id="imageInput" class="form-control" type="file" multiple />
				<span asp-validation-for="ImageFile" class="text-danger"></span>
			</div>
			<div class="form-group">
				<div id="imagePreview"></div>
			</div>
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>
<h3>Resimler</h3>
@{
	var c = Model.GetAracResims(Model.Id);

	if (c != null)
	{
		<text>
			<div class="container">
				<div class="gallery">

					@foreach (var ite in c)
					{
						<text>
							<div class="parent">
								<a href="data:image;base64,@Html.DisplayFor(modelItem => ite.Resim)" class="alink" data-lightbox="models" data-title="Resim">
									<img class="resim" id="@ite.Id" src="data:image;base64,@Html.DisplayFor(modelItem => ite.Resim)" alt="">
								</a>
							</div>
						</text>
					}
				</div>
			</div>
		</text>
	}
}
<form asp-action="DeleteResim" asp-controller="Araclar" method="post">
	<input type="hidden" name="ids" id="send" value="">
	<input type="submit" class="btn btn-danger" id="submit" value="Resmi Sil" disabled>
</form>

<div>
	<a asp-action="Index">Back to List</a>
</div>

