@model IEnumerable<SurucuKursu.Models.Galeri>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Galeri</h1>

<p>
	<a asp-action="Create" class="btn btn-primary">Resim Ekle</a>
</p>

<div class="container">
	<div class="gallery">

		@foreach (var ite in Model)
		{
			<text>
				<div class="parent" style="border:solid 5px #ccc; border-radius: 10px;">
					<a href="data:image;base64,@Html.DisplayFor(modelItem => ite.Resim)" class="alink" data-lightbox="models" data-title="@Html.DisplayFor(modelItem => ite.Aciklama)">
						<img class="resim" id="@ite.Id" src="data:image;base64,@Html.DisplayFor(modelItem => ite.Resim)" alt="@Html.DisplayFor(modelItem => ite.Aciklama)" style="border-radius: 3px;">
					</a>
				</div>
			</text>
		}
	</div>
</div>
<form asp-action="DeleteResim" asp-controller="Galeri" method="post" id="myForm" autocomplete="off">
	<input type="hidden" name="ids" id="send" value="">
	@*<input type="submit" class="btn btn-danger" id="submit" value="Resmi Sil" disabled>*@
	<button class="btn btn-danger" id="btnSubmit" disabled>Resmi Sil</button>
</form>
@if (TempData["durum"] != null)
{
	var mesaj = TempData["durum"];
	<text>
		<script>
			alert(@mesaj.ToString());
		</script>
	</text>
}