@model SurucuKursu.Models.Soru

@{
    ViewData["Title"] = "Soru";
    ViewData["locationOne"] = "Admin";
    ViewData["locationTwo"] = "Soru";
    ViewData["locationThre"] = "Oluştur";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create</h1>

<h4>Soru</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TipId" class="control-label"></label>
                <input asp-for="TipId" class="form-control" />
                <span asp-validation-for="TipId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ad" class="control-label"></label>
                <input asp-for="Ad" class="form-control" />
                <span asp-validation-for="Ad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mail" class="control-label"></label>
                <input asp-for="Mail" class="form-control" />
                <span asp-validation-for="Mail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Metin" class="control-label"></label>
                <input asp-for="Metin" class="form-control" />
                <span asp-validation-for="Metin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cevap" class="control-label"></label>
                <input asp-for="Cevap" class="form-control" />
                <span asp-validation-for="Cevap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

